
.button {
    background-color: #FFFFFF;
    color: #FF5500;
    font-family: 'Roboto', sans-serif;
    width: 73px;
    height: 30px;
    border-radius: 8px;
    font-weight: 500;
    font-size: 10px;
    outline: none;
    border: 1px solid #FF5500;
}