

.search {
    background-color: #FFFFFF;
    width: 300px;
    height: 30px;
    border-radius: 8px;
    margin-top: -170px;
    margin-left: 22%;
    display: flex;
    align-items: center;
}

.input {
    border: none;
    background-color: #FFFFFF;
    border-radius: 8px;
    margin-left: 5px;
    font-family: 'Inter', sans-serif;
    font-size: 10px;
    font-weight: 400;
    color: #999FA6;

}

.input:focus {
    outline: none;
    box-shadow: none;
}

.input:valid {
    color: #1B1F23;
}

.name {
    font-family: 'Inter', sans-serif;
    font-size: 10px;
    font-weight: 400;
    color: #999FA6;
    margin-left: 10px;
}