
.pagination {
    display: flex;
    gap: 10px;
    margin-left: 22%;
    margin-top: -10px;
}

.page {
    margin-top: 15px;
    font-size: 14px;
    font-weight: 400;
    font-family: SF Pro Text, sans-serif;
}

button {
    border: none;
    background-color: transparent;
}