.actorsTitle {
    margin-top: 17px;
    margin-left: 20px;
}

.actorsTitle span {
    font-size: 18px;
    font-weight: 600;
}

.slider {
    margin-top: 15px;
    width: 97%;
    height: 190px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    gap: 20px;
}